@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------heading */


.navbar { 
  text-align:right; 
} 
#exCollapsingNavbar { 
  text-align:left; 
}

  background: url('/images/8cc950ea7b83e7548e9a2ae9157bd00e.jpg');
