@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------navbar */

  h1 {
      text-align: left;
  }

  h2{
      background-color: grey;
  }
.myDiv {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
}

.Div {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
}
#exCollapsingNavbar { 
  text-align:left;   

  }
.responsive {
  width: 100%;
  height: auto;
}
  
}

@media screen and (min-width:480px) {  
  selector {
    display: none;
  }





